:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 70%;
  padding: 10px;
}

.contact-details {
  height: 43%;
  display: flex;
  width: 100%;

  img {
    height: 300px;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;

  div {
    height: 48px;
    margin: 10px;
  }
}

.contact-details-menu {
  justify-content: space-around;
  width: 100%;
}

.transfer-moves-container {
  margin: 20px 0;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {

  :host {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .contact-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      height: 200px;
      width: 200px;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 100%;

    div {
      height: 18px;
      margin: 10px;
    }
  }

  .contact-details-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .transfer-moves-container {
    flex-direction: column;
    margin: 20px 0;
  }
}
