<div class="flex center contact-details">
        <img src="https://robohash.org/{{contact._id}}.png" />
    <div class="contact-info">
        <div><span class="capitalize">name: </span>{{contact.name}}</div>
        <div><span class="capitalize">e-mail: </span>{{contact.email}}</div>
        <div><span class="capitalize">phone: </span>{{contact.phone}}</div>
    </div>
</div>

<div class="flex transfer-moves-container">
<transferfund *ngIf="contact" [contact]="contact"></transferfund>
<moveslist *ngIf="contact && user" [contact]="contact" [user]="user"></moveslist>
</div>

<div class="flex contact-details-menu">
    <a [routerLink]="['/contacts']" class="capitalize button">
        go back to list
    </a>
    <a [routerLink]="['/contacts/edit', contact._id]" class="capitalize button">
        edit contact
    </a>
    <div (click)="deleteContact(contact._id)" class="capitalize button">
        delete contact
    </div>
</div>
