:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-details {
  height: 50%;
  display: flex;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.contact-details-menu {
  justify-content: space-around;
}
