<div *ngIf="!newMarketData && !marketTableTitle && !newTransactionsData && !transactionsTableTitle" class="flex loading-container">
       <loadingscreen></loadingscreen>
</div>
<div *ngIf="newMarketData && newMarketData && newTransactionsData && transactionsTableTitle" class="chart-container">
<chart 
       [marketTableTitle]="marketTableTitle" 
       [marketData]="newMarketData"
       [transactionsTableTitle]="transactionsTableTitle"
       [transactionsData]="newTransactionsData">
</chart>
</div>