:host {
  display: flex;
  // flex: 1;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.filter-bar-container {
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
  
  :host {
    padding: 0;
  }

  .filter-bar-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
