<div class="flex center contact-form">
    <img *ngIf="contact._id" src="https://robohash.org/{{contact._id}}.png" />
    <div class="flex column contact-fields">
        <div>
            <span class="capitalize field">name: </span>
            <input type="text" placeholder="enter name" [(ngModel)]="contact.name">
        </div>
        <div>
            <span class="capitalize field">e-mail: </span>
            <input type="text" placeholder="enter email" [(ngModel)]="contact.email">
        </div>
        <div>
            <span class="capitalize field">phone: </span>
            <input type="text" placeholder="enter phone" [(ngModel)]="contact.phone">
        </div>
    </div>
</div>
<div class="flex contact-details-menu">
    <div (click)=(editContact()) class="capitalize button">save changes</div>
    <div (click)=(back()) class="capitalize button">back</div>
</div>